<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>RunWalk uses your location to track your running route and calculate distance during workouts.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>RunWalk needs background location access to continue tracking your route when the screen is locked during workouts.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.vishutdhar.RunWalk</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>runwalk</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
